.line.Line {
  margin-bottom: 30.5px;
}

.prof {
  margin: 0 auto;
  width: fit-content;
}

.media {
  background-color: #00887a;
  margin-left: 38px;
  width: 367px;
  height: 167px;
  margin-top: 68px;
  color: white;
  transition: 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
}

.media:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #77a6f7;
  transform: scale(1.01);
}

.profileMedia {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}